.box-main-second a {
    text-decoration: none;
}

.secondSection {
    height: 50vh;
}

.box-main-second {
    display: flex;
    justify-content: center;
}

.container-second {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
    border-radius: 10px;
    background-color: transparent;
}

.container-second div {
    padding: 15px;
    margin: 10px;
    color: white;
}